<!DOCTYPE HTML>
<html>
  <head>
    <title>Software Is Terrible</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
  	<%= erb :header %>
    <%= yield %>
  </body>
</html>
