<!DOCTYPE HTML>
<html>
  <head>
    <title>Software Is Terrible</title>
    <!-- Style -->
    <link rel="stylesheet" href="css/main.css" />
    <!-- Script -->
    <script src="js/jquery.min.js"></script>
    <script src="js/animate.js"></script>
  </head>
  <body>
  	<%= erb :header %>
    <%= yield %>
  </body>
</html>
