/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

.huge {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .huge:last-child {
    margin-right: 0; }

.outer {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .outer:after {
    content: "";
    display: table;
    clear: both; }

.centered-full {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .centered-full:last-child {
    margin-right: 0; }

.centered-12 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .centered-12:last-child {
    margin-right: 0; }

.centered-11 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 91.4702%;
  margin-left: 4.2649%; }
  .centered-11:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .centered-11 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 0%; }
      .centered-11:last-child {
        margin-right: 0; } }

.centered-10 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%; }
  .centered-10:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .centered-10 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 0%; }
      .centered-10:last-child {
        margin-right: 0; } }

.centered-9 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  margin-left: 12.79471%; }
  .centered-9:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .centered-9 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 0%; }
      .centered-9:last-child {
        margin-right: 0; } }

.centered-8 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%; }
  .centered-8:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .centered-8 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 0%; }
      .centered-8:last-child {
        margin-right: 0; } }

.centered-7 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%;
  margin-left: 21.32451%; }
  .centered-7:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .centered-7 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 0%; }
      .centered-7:last-child {
        margin-right: 0; } }

.centered-6 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 25.58941%; }
  .centered-6:last-child {
    margin-right: 0; }
  @media screen and (max-width: 900px) {
    .centered-6 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 74.41059%;
      margin-left: 12.79471%; }
      .centered-6:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .centered-6 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 91.4702%;
      margin-left: 4.2649%; }
      .centered-6:last-child {
        margin-right: 0; } }

.centered-5 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
  margin-left: 29.85432%; }
  .centered-5:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .centered-5 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%; }
      .centered-5:last-child {
        margin-right: 0; } }

.centered-4 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-left: 34.11922%; }
  .centered-4:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .centered-4 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%; }
      .centered-4:last-child {
        margin-right: 0; } }

.centered-3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-left: 38.38412%; }
  .centered-3:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .centered-3 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%; }
      .centered-3:last-child {
        margin-right: 0; } }

.half {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin: 0; }
  .half:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .half {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%; }
      .half:last-child {
        margin-right: 0; } }

.third {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .third:last-child {
    margin-right: 0; }
  @media screen and (max-width: 900px) {
    .third {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .third:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .third {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%; }
      .third:last-child {
        margin-right: 0; } }

.third-shift {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-left: 17.05961%; }
  .third-shift:last-child {
    margin-right: 0; }
  @media screen and (max-width: 900px) {
    .third-shift {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      margin-left: 0%; }
      .third-shift:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .third-shift {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%; }
      .third-shift:last-child {
        margin-right: 0; } }

.third-fixed {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .third-fixed:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .third-fixed {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .third-fixed:last-child {
        margin-right: 0; } }

.omega {
  margin-right: 0; }

@font-face {
  font-family: Lato-Black;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Lato/Lato-Black.eot");
  src: url("../fonts/Lato/Lato-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Black.woff") format("woff"), url("../fonts/Lato/Lato-Black.ttf") format("truetype"), url("../fonts/Lato/Lato-Black.svg#Lato-Black") format("svg"); }
@font-face {
  font-family: Lato-light;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Lato/Lato-Light.eot");
  src: url("../fonts/Lato/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Light.woff") format("woff"), url("../fonts/Lato/Lato-Light.ttf") format("truetype"), url("../fonts/Lato/Lato-Light.svg#Lato-light") format("svg"); }
@font-face {
  font-family: Lato;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Lato/Lato-Regular.eot");
  src: url("../fonts/Lato/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Regular.woff") format("woff"), url("../fonts/Lato/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato/Lato-Regular.svg#Lato") format("svg"); }
.bold {
  font-family: Lato-Black; }

.light {
  font-family: Lato-Light; }

.lato {
  font-family: Lato; }

header {
  background: url("../images/shattered.png");
  background-size: 150px; }

body {
  margin: 0; }

.head {
  margin-top: 10px;
  height: 100px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  -o-transition: 0.33s;
  -ms-transition: 0.33s;
  -moz-transition: 0.33s;
  -webkit-transition: 0.33s; }
  .head:last-child {
    margin-right: 0; }
  @media screen and (max-width: 900px) {
    .head {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%;
      height: 130px; }
      .head:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .head {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 91.4702%;
      margin-left: 4.2649%;
      height: 130px; }
      .head:last-child {
        margin-right: 0; } }

.filter {
  background-color: #fc04ff;
  color: white;
  text-align: center;
  font-size: 10pt; }

.title-header, .menu > h2 {
  margin-top: 0;
  margin-bottom: 0; }

.title-header {
  font-size: 24pt; }

.subtitle {
  margin-top: 10px; }

.secondary {
  color: #fc04ff; }

.title {
  float: left;
  display: block;
  margin-right: 2.84259%;
  width: 48.57871%;
  color: #262626; }
  .title:last-child {
    margin-right: 0; }
  @media screen and (max-width: 900px) {
    .title {
      float: left;
      display: block;
      margin-right: 2.57751%;
      width: 100%;
      text-align: center; }
      .title:last-child {
        margin-right: 0; } }

.menu {
  float: left;
  display: block;
  margin-right: 2.84259%;
  width: 48.57871%;
  color: #262626;
  text-align: right; }
  .menu:last-child {
    margin-right: 0; }
  .menu a {
    -webkit-transition: all 0.33s;
    -moz-transition: all 0.33s;
    transition: all 0.33s;
    color: #262626;
    text-decoration: none;
    font-size: 14pt; }
    .menu a:hover {
      color: #fc04ff; }
  @media screen and (max-width: 900px) {
    .menu {
      float: left;
      display: block;
      margin-right: 2.57751%;
      width: 100%;
      text-align: center;
      margin-bottom: 10px; }
      .menu:last-child {
        margin-right: 0; } }

.text-container {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 480px;
  -webkit-transition: all 0.33s;
  -moz-transition: all 0.33s;
  transition: all 0.33s; }
  @media screen and (max-width: 500px) {
    .text-container {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 91.4702%;
      margin-left: 4.2649%; }
      .text-container:last-child {
        margin-right: 0; } }

.text-input {
  width: 100%;
  height: 120px;
  font-size: 18pt;
  resize: none;
  border-color: #262626;
  border-radius: 5px; }
  .text-input:focus {
    outline: none;
    border-color: #fc04ff; }

.secondary-animate {
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out; }
  .secondary-animate:hover {
    color: #fc04ff;
    cursor: pointer; }

/*# sourceMappingURL=main.css.map */
