@include font-face(Lato-Black, 	'../fonts/Lato/Lato-Black');
@include font-face(Lato-light, 	'../fonts/Lato/Lato-Light');
@include font-face(Lato, 				'../fonts/Lato/Lato-Regular');

$white: white;
$secondary: rgba(252, 4, 255, 1);

.bold {
	font-family: Lato-Black;
}

.light {
	font-family: Lato-Light;
}

.lato {
	font-family: Lato;	
}