header {
	height: 125px;
	background: url('../images/lodyas.png');
	
}

.title-header, .menu > h2 {
	margin-top: 0;
}

.secondary {
	color: $secondary;
}

.title {
	color: white;
}

.menu {
	color: white;
	text-align: right;
	a {
		color: white;
		text-decoration: none;

		&:hover {
			color: $secondary;
		}
	}

}